#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.nav{
  display: flex;
  align-items: center;
}

.nav img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.navBar {
  padding:5px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
}
.index-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:5px;
  padding: 10px;

}
.index-item{
  margin:5px ;
}
.group-container{
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:5px;
  padding: 10px;

}
.titleIndex{
height:100%
}
.index-button{
  width: 120px;
}
.searchSort{
  display: flex;
  flex-direction: column;
}
.search{
  display: flex;
  justify-content: center
}
.inputSearch{
  width:142px
}
.sortSearch{
  width:150px;
  margin-bottom: 10px;
}
.scrollToTopButton {
  position: fixed;
  bottom: 50%; 
  right: 5px; 
  
 
}
.scrollTop{
  background-color: rgba(0,0,0,0.5);
width: 80px;
}

.searchLabel{
  width:150px
}
.sortLabel{
  width:150px
}
.sort{
  display: flex;
  justify-content: center;
  margin-top:5px
}
.exercise-card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 200px; 
  height: 300px; 
  display: flex ;
  flex-direction: column;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  height: 20px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-images {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.exerciseImages {
  max-width: 100%;
  max-height: 120px;
  margin-bottom: 5px;
}

.exercise-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5px
}

